body {
    padding-top: 800px;
    text-align: center;
}

.profile {
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#welcom {
    position: absolute;
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 800px;
    background: linear-gradient(#0000ff 0%, #00f2ff 100%);
    z-index: 9;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 10px auto;
}

.paralax-inner {
    display: table-cell;
    position: relative;
    text-align: center;''
    vertical-align: middle;
}

p {
    max-width: 450px;
    margin: 25px auto;}
.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    font-family: fantasy;
    font-size: 25px;
    cursor: pointer;
}

.links {
    color: floralwhite;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    float: left
}
.links:hover{background-color: black;}
.article:hover{color: red;}
a{text-decoration: none;}
